<?xml version="1.0" encoding="UTF-8"?>
<!--DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd"-->
<suite name="Suite">
<listeners>

<listener class-name="rbsOrg.TestComponent.Listener"/>

</listeners>
  <test thread-count="5" name="Test">
    <classes>     
      <class name="rbsOrg.TestCase.ValidatePurchaseProduct"/>
      <class name="rbsOrg.TestCase.SubmitForm"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
